Analise vendas loja

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from classes.classdatabasemanager import DatabaseManager

# classe DatabaseManager para poder acedar as tabelas
db_manager = DatabaseManager()

# tabelas carregadas em df
df_lojas = db_manager.fetch_data_to_df("SELECT * FROM lojas;")

df_produto = db_manager.fetch_data_to_df("SELECT * FROM produtos;")
df_vendas = db_manager.fetch_data_to_df("SELECT * FROM vendas;")

# mostrar os primeiros 5 registos
display(df_lojas.head())
display(df_vendas.head())
display(df_produto.head())

   id_loja    nome_loja     zona_loja       atendente          gerente
0        1  Loja Centro  Zona Central       Ana Silva    Carlos Mendes
1        2   Loja Norte    Zona Norte  Bruno Ferreira    Mariana Rocha
2        3     Loja Sul      Zona Sul  Patrícia Gomes     Rafael Souza
3        4   Loja Leste    Zona Leste   Lucas Andrade   Fernanda Costa
4        5   Loja Oeste    Zona Oeste    Beatriz Lima  Rodrigo Martins

   id_produto  id_cliente  id_loja  id_atendente  quantidade        data
0           6          83        4             7           3  2024-08-09
1           7          28        1             2           3  2024-08-16
2          10          64        2             5           2  2024-03-08
3           5          86        4            10           2  2024-11-18
4           3          54        3             8           2  2024-12-10

                      nome   preco  categoria
0     Portátil Dell XPS 13  120000  Portáteis
1           MacBook Pro 16  250000  Portáteis
2     Monitor LG UltraGear   45000  Monitores
3  Teclado Mecânico HyperX   15000   Teclados
4  Rato Logitech MX Master   12000      Ratos

In [2]:
#juntar a tavela loja com a tabela vendas
df_merge= df_lojas.merge(df_vendas, left_on="id_loja", right_on="id_loja")

#juntar a tabela produto
df_merge=df_merge.merge(df_produto, left_on="id_produto", right_on="id")
display(df_merge)

KeyError: 'id'

In [27]:
#total faturado por loja

df_merge["Receita Total"]=df_merge["quantidade"]*df_merge["preco"]

faturado_loja=df_merge.groupby("nome_loja")["Receita Total"].sum().sort_values(ascending=False).reset_index()

display(faturado_loja.head(5))

Empty DataFrame
Columns: [nome_loja, Receita Total]
Index: []

In [28]:
quantidade_loja=df_merge.groupby("nome_loja")["quantidade"].sum().sort_values(ascending=False).reset_index()

display(quantidade_loja)

Empty DataFrame
Columns: [nome_loja, quantidade]
Index: []

In [29]:
#venda média por loja

media_ticket_loja = df_merge.groupby("nome_loja").agg(
    {"Receita Total": "sum", "quantidade": "sum"}).reset_index()

# Calcular o ticket médio por loja
media_ticket_loja["Média Venda Loja"] = round(media_ticket_loja["Receita Total"] / media_ticket_loja["quantidade"], 2)

# Ordenar pelo ticket médio
media_ticket_loja = media_ticket_loja.sort_values(by="Média Venda Loja", ascending=False)

# Selecionar apenas as colunas necessárias
media_ticket_loja = media_ticket_loja[["nome_loja", "Média Venda Loja"]]





display(media_ticket_loja)

Empty DataFrame
Columns: [nome_loja, Média Venda Loja]
Index: []